<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            
             <% if (orders.length > 0) { %>
                <% orders.forEach(order => { %>
                    <div class="order card">
                        <h2>Order #<%= order.id %></h2>
                        <ul class="order__list">
                            <% order.products.forEach(p => { %>
                                <li class="order__item">
                                    <div class="order__item-image">
                                        <img src="<%= p.imageUrl %>" alt="<%= p.title %>">
                                    </div>
                                    <div class="order__item-details">
                                        <h3><%= p.title %></h3>
                                        <p>Quantity: <strong><%= p.orderItem.quantity %></strong></p>
                                        <p>Price: <strong>$<%= p.price.toFixed(2) %></strong></p>
                                        <p>Subtotal: <strong>$<%= (p.price * p.orderItem.quantity).toFixed(2) %></strong></p>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                <% }) %>
                <% } else { %>
                    <div class="cart__empty">
                        <h1>No products!</h1>
                        <p>Browse the shop to add items and view them here.</p>
                    </div>
                <% } %>


        </main>
        <%- include('../includes/end.ejs') %>